<div class="buffer-bottom border border-secondary p-1 rounded mb-2 mt-2">
  <p><%= comment.body %></p>
  <p>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
    <em>
    <% if policy(comment.event).edit? %>
        <%= button_to t('view.delete'), event_comment_path(comment.event, comment),
            method: :delete,
            form: { data: {turbo_confirm: t('are_you_sure')} },
            class: "btn btn-danger" %>
    <% end %>
    </em>
  </p>
</div>

