<h1><%= t('view.pincod_guard') %></h1>

<%= form_tag('', method: 'post') do |f| %>
<%= render partial: 'partials/form_errors', locals: {model: @event} %>
  <div class="form-group">
    <%= label t('view.pincod'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions mt-2">
    <%= submit_tag t('view.push') %>
  </div>
<% end %>

<%= link_to t('view.back_major'), events_path %>

