<% require 'devise/version' %>
<p><%= t('.greeting', :recipient => @resource.email, :default => "#{t('devise.reset.hi')} #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => t('devise.reset.link_to_change')) %></p>

<p><%= link_to t('.action', :default => t('devise.reset.change_my_password')), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('.instruction_2', :default => t('devise.reset.plz_ignor_mail')) %></p>
<p><%= t('.instruction_3', :default => t('devise.reset.password_dont_change_until_link')) %></p>
