<!DOCTYPE html>
<html>
  <head>
      <title> <%= t('app.name') %> </title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://api-maps.yandex.ru/2.1/?lang=ru_RU" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="navbar navbar-expand navbar-default navbar-static-top border-bottom">
      <div class="container">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand text-secondary' %>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to "Профиль #{current_user.name}", current_user, class: "nav-link link-secondary ms-3" %></li>
              <li><%= button_to 'Выйти', destroy_user_session_path, :method => :delete, class: "nav-link link-secondary ms-3 bg-transparent no-border my-bt" %></li>
            <% else %>
              <li><%= link_to 'Войти', new_user_session_path, class: "nav-link link-secondary ms-3" %></li>
              <li><%= link_to 'Зарегистрироватьcя', new_user_registration_path, class: "nav-link link-secondary ms-3" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 mt-4">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; <%= t 'app.company' %> 2022</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
