<!DOCTYPE html>
<html>
  <head>
      <title>Myapp</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>  <%# this loads Sprockets/Rails asset pipeline %>
    <%= javascript_importmap_tags %> <%#  this loads JS from importmaps %>
  </head>

  <body>

    <div class="navbar navbar-expand navbar-default navbar-static-top border-bottom">
      <div class="container">
        <%= link_to "event manager", root_path, class: 'navbar-brand text-secondary' %>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to 'Профиль', current_user, class: "nav-link link-secondary ms-3" %></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "nav-link link-secondary ms-3" %></li>
            <% else %>
              <li><%= link_to 'Войти', new_user_session_path, class: "nav-link link-secondary ms-3" %></li>
              <li><%= link_to 'Зарегистрироватьcя', new_user_registration_path, class: "nav-link link-secondary ms-3" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9 mt-4">
          <%= bootstrap_flash %>

          <%= yield %>
        </div>
        <div class="col-lg-3 mt-4">
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; <%= t('app.company') %> 2021</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
